::-webkit-scrollbar {
	width: 8px;
}

::-webkit-scrollbar-track-piece:vertical{
	border-radius: 10px;
	background-image:url(qrc:/theme/scrollbar/scrollbar_vertical_normal.png);
	background-color:#ECECEC;
}

::-webkit-scrollbar-thumb:vertical{
	border: 3px solid transparent;
	border-radius: 10px;
	background-image:url(qrc:/theme/scrollbar/scrollbar_vertical_handle_normal.png);
	background-color:#CFCFCF;
}

::-webkit-scrollbar-thumb:vertical:hover {
	border-radius: 10px;
	background-image:url(qrc:/theme/scrollbar/scrollbar_vertical_handle_hover.png);
	background-color:#A0A0A0;
}

::-webkit-scrollbar-thumb:vertical:active {
	border-radius: 10px;
	background-image:url(qrc:/theme/scrollbar/scrollbar_vertical_handle_pressed.png);
	background-color:#A0A0A0;
}

::-webkit-scrollbar-button:vertical:start:increment,
::-webkit-scrollbar-button:vertical:end:decrement{
	display: none;
}

::-webkit-scrollbar-button:vertical:start:decrement {
	background-image: url(qrc:/theme/scrollbar/scrollbar_vertical_subline_normal.png);
	background-repeat: no-repeat;
	background-position:center;
}

::-webkit-scrollbar-button:vertical:start:decrement:hover {
	background-image: url(qrc:/theme/scrollbar/scrollbar_vertical_subline_hover.png);
	background-repeat: no-repeat;
	background-position:center;
}

::-webkit-scrollbar-button:vertical:start:decrement:active {
	background-image: url(qrc:/theme/scrollbar/scrollbar_vertical_subline_pressed.png);
	background-repeat: no-repeat;
	background-position:center;
}

::-webkit-scrollbar-button:vertical:end:increment {
	background-image: url(qrc:/theme/scrollbar/scrollbar_vertical_addline_normal.png);
	background-repeat: no-repeat;
	background-position:center;
}

::-webkit-scrollbar-button:vertical:end:increment:hover {
	background-image: url(qrc:/theme/scrollbar/scrollbar_vertical_addline_hover.png);
	background-repeat: no-repeat;
	background-position:center;
}

::-webkit-scrollbar-button:vertical:end:decrement:active {
	background-image: url(qrc:/theme/scrollbar/scrollbar_vertical_addline_pressed.png);
	background-repeat: no-repeat;
	background-position:center;
}

body {
	margin: 0px;
	padding: 0px;
	width: 100%;
	height: 100%;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	line-height: 1.5;
	font-family: '微软雅黑', '宋体';
	font-size:9pt;
}

/* 信息框 */
.chatBox_msgList {
	display: block;
    top: 0;
	bottom: 0;
	margin-left: 12px;
	margin-right: 12px;
	margin-bottom: 20px;
	overflow: none;
}


.message {
	margin-top: 5px;
	padding-left: 35px;
	padding-right: 35px;
	position: relative;
}

.message .msgtime {
	margin: 0px 0px 40px 0px;
}

.message .msgcontent {

}

.message .msgcontent-send{
	margin-right: 12px;
}

.message .msgcontent-receive{
	margin-left: 12px;
}

.message .msgcontent i {
	position: absolute;
	top: 53px;
}

.message .msgcontent i.send{
	right: 0px;
}

.message .msgcontent i.receive{
	left: 0px;
}

.message .msgcontent .avatar {
	width: 34px;
	height: 34px;
	border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
}

.message .msgcontent .content {
	background-color: #F2F1F6;
	padding-left: 15px;
	padding-right: 15px;
	padding-bottom: 13px;
	padding-top:13px; 
	border-radius: 3px;
	word-wrap: break-word;
}

.message .msgcontent .content-receive {
	background-color: #F2F1F6;
	max-width:90%;
	float:left;
}

.message .msgcontent .content-send {
	background-color: #c2e4ff;
	color: #000000;
	max-width:90%;
	float:right;
}

.message .msgcontent .arrow-down {
	position: absolute;
	top: 65px;
  	width:0px;
  	height:0px;
  	border-left:10px solid transparent;
  	border-right:10px solid transparent;
  	font-size:0px;
  	line-height:0px;
}

.message .msgcontent .arrow-down-send{
	right: 38px;
	border-top:10px solid #c2e4ff;
}

.message .msgcontent .arrow-down-receive{
	left: 38px;
	border-top:10px solid #F2F1F6;
}

/************** 线条 ****************/
.message .msgtime ul { 
	margin:0; 
	padding:0; 
	list-style-type:none;
}

.message .msgtime ul {
	font:12px verdana;
	padding-bottom: 13px;
}

.message  .msgtime ul li span{ 
	background-color: white;
	padding: 0px 4px 0px 4px;
}

.message .msgtime ul li {
	float: left; 
	height: 30px; 
	border: 0px solid #C7C7C7; 
	width: 100%;
}

.message .msgtime ul .lineae{
	width: 100%;
	margin-bottom: -15px;
}

.message .msgtime ul a {
	display: block; 
	color: #999999; 
	text-decoration: none;
	padding: 6px 5px;
	width: 100%;
	text-align: center;
	cursor: text;
}

/*
.message .msgtime ul:focus { 
	list-style-type:none;
}

.message .msgtime ul li:focus { 
	list-style-type:none;
}
*/

.message .msgtime ul a:focus {
	outline:none; 
}

/*
.chatBox_myMsg {
		display: block;
		margin: 0;
		padding: 5px
}
.chatBox_myMsg .msgHead {
		color: #008040;
		overflow: hidden;
		zoom: 1
}
.chatBox_myMsg .msgBody {
		margin: 0 0 0 13px;
		color: #000;
		word-wrap: break-word
}

.chatBox_infoMsg {
		display: block;
		margin: 0;
		padding: 5px
}
.chatBox_infoMsg .msgHead {
		color: #808080;
		overflow: hidden;
		zoom: 1
}
.chatBox_infoMsg .msgBody {
		margin: 0 0 0 13px;
		color: #808080;
		word-wrap: break-word
}

.chatBox_sys {
		display: block;
		margin: 0;
		padding: 5px
}
.chatBox_sys .msgHead {
		color: #505050;
		overflow: hidden;
		zoom: 1
}
.chatBox_sys .msgBody {
		margin: 0 0 0 13px;
		color: #505050;
		word-wrap: break-word
}

.chatBox_buddyMsg {
	display: block;
	margin: 0;
	padding: 5px
}

.chatBox_buddyMsg .msgHead {
	color: #00f
}

.chatBox_buddyMsg .msgBody {
	margin: 0 0 0 13px;
	color: #000;
	word-wrap: break-word
}

.chatBox_buddyMsg .msgBody .chatLink, .chatBox_myMsg .msgBody .chatLink {
	font: inherit
}
*/

/************** 图文消息 ****************/
.news_message {
	width: 416px;
}

.news_message a {
	text-decoration: none;
	color: #333333;
}

.news_message a:hover {
	text-decoration: none;
	color: #003b77;
}

.news_message a:active {
	text-decoration: none;
	color: #003b77;
}

.news_title {
	font-size:10pt;
	font-weight:bold;
}

.news_thumb {
	padding:10px 0px 10px 0px;
}

.news_thumb_title {
	font-size:10pt;
	font-weight:bold;
	line-height:40px;
	position: relative;
	top: 110px;
	padding-left: 5px;
	padding-right: 5px;
	margin-left: 1px;
	margin-right: 1px;
	background-color: #000;
	opacity: 0.8;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.news_thumb_title a {
	text-decoration: none;
	color: #ffffff;
}

.news_thumb_title a:hover {
	text-decoration: none;
	color: #ffffff;
}

.news_thumb_title a:active {
	text-decoration: none;
	color: #ffffff;
}

/*
.news_media_thumb {
	max-width: 343px;
}
*/

.news_summary {
	line-height:1.8;
	color:#999999;
}

.news_item {
	position: relative;
	padding: 5px 0px;
	border-top: 1px solid #e7e7eb;
	/*
	max-width: 343px;
	*/
}

.news_item.item_border_bottom{
	border-bottom: 1px solid #e7e7eb;
}

.news_item_thumb {
	float: right;
	width: 52px;
	height: 52px;
}

.news_item_title{
	overflow: hidden;
	line-height:52px;
	font-size:10pt;
	font-weight:bold;
	white-space: nowrap;
	text-overflow: ellipsis;
	padding-right: 5px;
	padding-left: 5px;
}

.clearfix:after { 
    content: "."; 
    display: block; 
    clear: both; 
    visibility: hidden; 
    line-height: 0; 
    height: 0; 
} 

.startdownload {
	width:20px;
	height:18px;
	background:url(qrc:/html/images/download.png) no-repeat 1px;
	float:right;
	margin-top:10px;
}

.startdownload:hover {
	background:url(qrc:/html/images/download_pressed.png) no-repeat 1px;
}

.startdownload:active {
	background:url(qrc:/html/images/download_pressed.png) no-repeat 1px;
}

.attach_message {
	width: 343px;
}

.attach_item {
	position: relative;
	padding: 5px 0px;
}

.attach_item_thumb {
	float: left;
	width: 36px;
	height: 36px;
}

.attach_item_title{
	overflow: hidden;
	line-height:40px;
	font-size:10pt;
	font-weight:bold;
	white-space: nowrap;
	text-overflow: ellipsis;
	padding-left: 10px;
	padding-right: 10px;
}

/************** 图文消息 ****************/	

/************** 图片消息 ****************/
.image_thumb {
	padding:10px 0px 10px 0px;
}

.image_media_thumb {
	max-width: 343px;
}
/************** 图片消息 ****************/	

/* 进度条 */
.process-bar {
	width:100px;
	display:inline-block;
	*zoom:1;
}

.pb-wrapper {
	border:1px solid gray;
	border-style:solid none;
	position:relative;
	background:#cfd0d2;
}

.pb-container {
	border:1px solid gray;
	border-style:none solid;
	height:12px;
	position:relative;
	left:-1px;
	margin-right:-2px;
	font:1px/0 arial;
	padding:1px;
}

.pb-highlight {
	position:absolute;
	left:0;
	top:0;
	_top:1px;
	width:100%;
	opacity:0.6;
	filter:alpha(opacity=60);
	height:6px;
	background:white;
	font-size:1px;
	line-height:0;
	z-index:1
}

.pb-text {
	width:100%;
	position:absolute;
	left:0;
	top:0;
	text-align:center;
	font:10px/12px arial;
}

.pb-value {
	height:100%;
	width:0%;
	background:#19d73d;
}

.pb-text {
	color:black;
	font:10px/12px arial
}

.skin-green .pb-wrapper {
	border-color:#666;
	border-top-color:#628c2d;
}

.skin-green .pb-container {
	border-color:#666;
	border-left-color:#628c2d;
}

.skin-green .pb-text{
	color:black 		
}

/* 提示框 */
.ui-notify {
	position: relative;
	/*
	border: 1px solid #aaa;
	*/
	border: 0px solid #aaa;
	padding: 8px 12px;
	color: #333;
	background: #fff;
	font-size: 1em;
	line-height: 1.5em;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
	zoom: 1;
}

.ui-notify .ui-notify-icon {
	display:block;
	width: 16px;
	height: 16px;
	float: left;
	margin-right: .5em;
	background: url(qrc:/html/images/notify-icon.png) no-repeat top left;
	text-indent: -99999px;
}

.ui-notify-shadow {
	-webkit-box-shadow: 0px 2px 10px rgba(50, 50, 50, 0.5);
	-moz-box-shadow: 0px 2px 10px rgba(50, 50, 50, 0.5);
	box-shadow: 0px 2px 10px rgba(50, 50, 50, 0.5);
}

.ui-notify-title {
	margin-bottom: .4em;
	font-weight: bold;
	letter-spacing: 1px;
}

.ui-notify-context {
	font-size: .9em;
}

.ui-notify-close {
	position: absolute;
	display: inline-block;
	*display: inline; 
	zoom:1;
	right: 7px; top: 7px;
	background: url(qrc:/html/images/notify-icon.png) no-repeat scroll 0 0;
	width: 7px;
	height: 7px;
	cursor: pointer;
	text-indent: -99999px;
}

.ui-notify-info {
	background-color: #D3EAF6;
	border-color: #86A0EF;
	color: #3a87ad;
}

.ui-notify-info .ui-notify-icon{
	background-position: 0 -123px;
}

.ui-notify-success {
	background-color: #F4FFEF;
	border-color: #4EBF3B;
	color: #4F9F51;
}

.ui-notify-success .ui-notify-icon{
	background-position: 0 -189px;
}

.ui-notify-warn {
	background-color: #D0E6F2;
	border-color: #DFD245;
	color: #c09853;
}

.ui-notify-warn .ui-notify-icon{
	background-position: 0 -255px;
}

.ui-notify-more {
	/*background-color: #D0E6F2;*/
	border-color: #DFD245;
	color: black;
	text-align: center;
}

.ui-notify-more .ui-notify-icon{
	
}

.ui-notify-error {
	background-color: #f2dede;
	border-color: #DF7D7D;
	color: #b94a48;
}

.ui-notify-error .ui-notify-icon{
	background-position: 0 -57px;
}

/* 自定义 */
.picSpan{
	float:left;margin-top:1px; 
}
			
.Image {
	max-width:350px;height:auto;cursor:pointer;
	border:1px dashed #4E6973;padding: 3px;
	zoom:expression( function(elm) {
		if (elm.width>350) {
			var oldVW = elm.width;
			elm.width=350;
			elm.height = elm.height*(350 /oldVW);
		}
		elm.style.zoom = '1';
	}(this));
}

#moreBarContext{
        color: rgba(0,120,216,1);
		background-color: rgba(255, 255, 255, 1);
}

#moreBar{
        /*color: rgba(0,120,216,1) !important;*/
        font-size: 10pt;
}

#moreBar:hover{
        cursor: pointer;
}

/*
.at-self{
	border: solid 1px rgb(184, 230, 142);
	background: rgb(211, 238, 188);
	color: rgb(0, 0, 0);
	cursor: pointer;
}

.at-other{
	border: none;
	background: transparent;
	color: rgb(0, 110, 254);
	cursor: pointer;
}
*/

/******************** 音频播放样式 ******************************/
/*
.audioplay {
	width:32px;
	height:32px;
	float:left;
	background:#6CBEFF url(qrc:/html/images/audio_play.png) no-repeat 1px;
	border:1px solid #6CBEFF;
}

.audioplay:hover {
	background:#6CBEFF url(qrc:/html/images/audio_play_pressed.png) no-repeat 1px;
}

.audioplay:active {
	background:#6CBEFF url(qrc:/html/images/audio_play_pressed.png) no-repeat 1px;
}

.audiostop {
	width:32px;
	height:32px;
	float:left;
	background:#6CBEFF url(qrc:/html/images/audio_stop.png) no-repeat 1px;	
	border:1px solid #6CBEFF;
}

.audiostop:hover {
	background:#6CBEFF url(qrc:/html/images/audio_stop_pressed.png) no-repeat 1px;
}

.audiostop:active {
	background:#6CBEFF url(qrc:/html/images/audio_stop_pressed.png) no-repeat 1px;
}

.audioplayinfo {
	width:38px;
	height:32px;
	line-height:32px;
	float:left;
	border:1px solid #ECECEC;
	padding-left:32px;
	background:#FFFFFF url(qrc:/html/images/audio.png) no-repeat 8px;
	color:#666666;
	font-size:9pt;
}

.audioplayinginfo{
	width:38px;
	height:32px;
	line-height:32px;
	float:left;
	border:1px solid #ECECEC;
	padding-left:32px;
	background:#FFFFFF url(qrc:/html/images/audio_playing.gif) no-repeat 8px;
	color:#666666;
	font-size:9pt;
}
*/

/******************** 附件、进度条样式 ******************************/
/*
.attachContainer{
	background-color: #ffffff;
	border: 1px solid #ececec;
	height: 55px;
	width: 368px;
	margin-top: 5px;
}

.fileFocueOut{
	display:inline-block;
	border:0px;
}

.progress {
  width:150px;
  height: 7px;
  margin-top:6px;
  background: #ebebeb;
  border-left: 1px solid transparent;
  border-right: 1px solid transparent;
  border-radius: 3px;
  float:left;
}

.progress > span {
  position: relative;
  float: left;
  height: 5px;
  line-height: 7px;
  text-align: right;
  background: #6CBEFF;
  border-radius: 3px;
}
.progress > span > span {
  padding: 0 8px;
  font-size: 11px;
  font-weight: bold;
  color: #404040;
  color: rgba(0, 0, 0, 0.7);
  text-shadow: 0 1px rgba(255, 255, 255, 0.4);
}

.progress .blue {
  background: #6CBEFF;
}

.attacheoperatortip {
	padding-left:8px;
	width:100px;
	float:left;
	color:#FDAC75;
	font-weight:bold;
	font-size:12px;
	line-height:18px;
	display:none;
}

.attacheoperator {
	float:right;
}

.startupload{
	width:20px;
	height:18px;
	float:left;
	background:url(qrc:/html/images/upload.png) no-repeat 1px;
}

.startupload:hover{
	background:url(qrc:/html/images/upload_pressed.png) no-repeat 1px;
}

.startupload:active{
	background:url(qrc:/html/images/upload_pressed.png) no-repeat 1px;
}

.stopupload {
	width:20px;
	height:18px;
	float:left;
	background:url(qrc:/html/images/transfer_cancel.png) no-repeat 1px;
}

.stopupload:hover {
	background:url(qrc:/html/images/transfer_cancel_pressed.png) no-repeat 1px;
}

.stopupload:active {
	background:url(qrc:/html/images/transfer_cancel_pressed.png) no-repeat 1px;
}

.startdownload {
	width:20px;
	height:18px;
	float:left;
	background:url(qrc:/html/images/download.png) no-repeat 1px;
}

.startdownload:hover {
	background:url(qrc:/html/images/download_pressed.png) no-repeat 1px;
}

.startdownload:active {
	background:url(qrc:/html/images/download_pressed.png) no-repeat 1px;
}

.stopdownload {
	width:20px;
	height:18px;
	float:left;
	background:url(qrc:/html/images/transfer_cancel.png) no-repeat 1px;
}

.stopdownload:hover {
	background:url(qrc:/html/images/transfer_cancel_pressed.png) no-repeat 1px;
}

.stopdownload:active {
	background:url(qrc:/html/images/transfer_cancel_pressed.png) no-repeat 1px;
}
*/